@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Urbanist:wght@600;700;500&display=swap");

:root {
  --main-color: #2d6cf3;
  --secondary-color: #2495ff;
  --background-color: #286cffef;
}

/* UTIL CLASSES */
.content {
  max-width: 90%;
  margin: 0 auto;
}

.section {
  margin-top: 30px;
  border-bottom: 9px solid var(--main-color);
  border-left: 4px solid var(--main-color);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.17);
  padding: 50px;
  padding-left: 50px;
  z-index: 3;
  background-color: #fff;
}

main.dark {
  background-color: rgb(0, 0, 0);
}

.dark .section {
  background-color: rgb(35, 35, 35);
  color: rgb(255, 255, 255);
}

.waves {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}

body,
html,
* {
  font-family: "Nunito", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

p,
a {
  width: 100%;
  text-align: justify;
}

ul {
  list-style-type: disc;
}

a {
  word-break: break-all;
}

/* FIREFOX SCROLL SUPORT */
body {
  scrollbar-color: var(--main-color) #e4e4e4;
  scrollbar-width: 12px;
}

/* SCROLL SUPORT EDGE,CHROME E OPERA */
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #e4e4e4;
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
  border-radius: 20px;
}

main {
  background: url("assets/stacked.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* HEADER */
.header {
  padding: 25px;
  background-color: var(--background-color);
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}

.header__nav {
  width: 100%;
}

.header__accessibility-container {
  flex-basis: 300px;
  display: flex;
  align-items: center;
}

.header__font-size {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}

.header__switch-light {
  max-width: 25px;
  max-height: 25px;
  display: inline;
  cursor: pointer;
}

.header__list {
  list-style-type: none;
  gap: 40px;
  margin: 0px;
  word-break: normal;
}

.header__list a {
  color: #fff;
  text-decoration: none;
  font-size: 1.1rem;
  position: relative;
  transform-origin: left;
}

.header__list a:hover {
  color: #fff;
}

.header__list a:hover::after {
  color: #fff;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--secondary-color);
  height: 3px;
  border-radius: 10px;
  animation: growLine 0.7s ease-in-out;
}

@keyframes growLine {
  0% {
    width: 0%;
  }
}

/* SECTIONS */
.section-waves {
  position: relative;
}

.section-waves .waves2 {
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.section-banner {
  margin-top: 0px;
  background: linear-gradient(to right, var(--main-color) 20%, var(--secondary-color));
  height: 100vh;
}

.section-banner__title {
  font-weight: 700;
  font-size: 4.5rem;

  font-family: "Urbanist", sans-serif;

  color: #fff;
}

.section-banner * {
  word-break: keep-all;
}

/* FOOTER */
.footer {
  position: relative;
  height: 300px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.footer p {
  font-size: 1.1rem;
  color: #fff;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

/* Botão de navegação para o topo */
.button-navigate-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  border: 0px;
  border-radius: 50%;
  background-color: var(--main-color);
  padding: 10px;
  animation: navigateToTop 1s ease-out infinite;
  z-index: 2;

}

.button-navigate-up:hover {
  filter: brightness(150%);
}

@keyframes navigateToTop {
  0% {
    transform: translateY(2px);
  }

  100% {
    transform: translateY(15px);
  }
}

/* //Media Queries */

@media (max-width: 1000px) {
  .header {
    padding: 10px 5px;
    font-size: 12px;
  }

  .header__list {
    gap: 15px;
    order: -1;
    flex-wrap: wrap;
    margin: 0px;
  }

  .section-banner {
    padding: 200px 0px;
    max-height: auto;
    height: auto;
  }

  .header__accessibility-container {
    justify-content: flex-end;

    flex: 1;
  }

  .section-banner__title {
    margin-top: 50px;
    font-size: 4rem;
    text-align: center;
    overflow: hidden;
  }
}

@media (max-width: 565px) {
  .header {
    padding: 10px 5px;
    font-size: 12px;
  }

  .section-banner__title {
    margin-top: 50px;
    font-size: 3rem;
    word-wrap: break-word;
    height: auto;
    text-align: center;
    overflow: hidden;
  }
}